.button{
        margin-top: 20px;
        min-height: 20px;
        font-weight: 500;
        font-size: 18px;
        border-radius: 4px;
        color: #fff;
        background-color: #e50914;
        padding: 0.20rem 15.33333333px;
}