input {
    border-radius: 4px;
    width: 100%;
    border: 0;
    height: 50px;
    line-height: 50px;
    padding: 16px 20px 0;
    font-size: 16px;
    padding-bottom: 16px;
    background: #333;
    color: #fff;
}

input:focus {
    outline: none;
}
